section{
    position: relative;
}

.slide-container{
    width: 300vw;
    /* transform: translateX(-100vw); */
    transition: all 1s;
}
.slide-box{
    width: 100vw;
    float: left;
}
.slide-box img {
    width: 100%;
}

.slide-1 , .slide-2{
    background: #ccc;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    
}
.silde-wrap{
    transform: translate(-50% , -50%);
    position: absolute;
    top: 90%;
    left: 50%;
    
}
.slide-1{
    margin-right: 20px;
}

.slide-1:hover , .slide-2:hover{
    background: #90B74A;
}
.slide-1:focus , .slide-2:focus{
    background: #90B74A;
}
.arrow-wrap{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
}
.arrow{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.before , .next{
    font-size: 20px;
    border: 1px solid white;
    /* padding: 5px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    color: white;
    opacity: 50%;
}
/* ==================================section1 */
.video{
    width: 1200px;
    margin: 0 auto;
}

.video-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-wrap p:nth-child(1){
    font-size: 22px;
    color: #094516;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.video-wrap p:nth-child(2){
    font-size: 30px;
    color: #094516;
    font-weight: bold;
    margin-bottom: 3rem;
}
iframe{
    text-align: center;
    display: inline-block;
    margin-bottom: 5rem;
}
/* ==================================secntion2 */
.section-wrap{
    background: #f5f5f5;
    height: 43rem;
}
.recipe-section{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
}
.recipe a {
    box-sizing: border-box;
    display: block;
    font-size: 0;
    width: 260px;
}
.recipe-section > h3{
    font-size: 30px;
    font-weight: bold;
    color: #094516;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 2rem;
}
.recipe-wrap{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.recipe{
    width: 266px;
    /* height: 396px; */
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}
.p-wrap{
    background-color: white;
    color: black;
    width: 266px;
    height: 130px;
    
}
.p-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 3rem;
}
.p-wrap p:nth-child(1){
    color: #666;
    font-size: 12px;
    text-align: center;
}

.p-wrap p:nth-child(2){
    margin-top: 1rem;
    color: #333;
    font-size: 22px;
}
.recipe-btn {
    width: 220px;
    height: 50px;
    background-color: #388211;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 120%;
    box-sizing: border-box;
    font-size: 18px;
}
.recipe-btn > p {
    text-align: center;
    align-items: center;
}
.recipe-btn > span {
    font-weight: bold;
}
.recipe-btn:hover{
    background-color: #094516;
    color: white;
}
/* ==================================sention 3 */
/* .foot-banner{
    overflow: hidden;
}
.banner-wrap{
    width: 400vw;
    transition: all 1s;
}
.banner{
    width: 100vw;
    float: left;
}
.banner img{
    width: 100%;
} */


/* ==================================section4 */
.banner1{
    height: 640px;
    background: url('../images/chaeeun/index-con4-bg1.jpg') center top no-repeat;
    transition: all .2s ease-out;
    
}
.banner2{
    height: 640px;
    background: url('../images/chaeeun/index-con4-bg2.jpg') center top no-repeat;
    transition: all .2s ease-out;
}
.banner3{
    height: 640px;
    background: url('../images/chaeeun/index-con4-bg3.jpg') center top no-repeat;
    transition: all .2s ease-out;
}
.banner4{
    height: 640px;
    background: url('../images/chaeeun/index-con4-bg4.jpg') center top no-repeat;
    transition: all .2s ease-out;
}

.show {
    display: block;
}
.banner-item1{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    padding: 100px 0 100px 0;
    transition: all .2s ease-out;
}
.p-btn-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}
.p-btn-wrap h3{
    color: #dc261c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
.p-btn-wrap p{
    color: #dc261c;
    font-size: 18px;
    margin-bottom: 40px;
}
.cart-btn{
    background-color: #8a0b08;
    color: white;
    border: 0;
    width: 160px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn:hover{
    color: white;
}
/* =========================== */
.banner-item2{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    padding: 100px 0 100px 0;
    transition: all .2s ease-out;
}
.p-btn-wrap2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}
.p-btn-wrap2 h3{
    color: #094516;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
.p-btn-wrap2 p{
    color: #094516;
    font-size: 18px;
    margin-bottom: 40px;
}
.cart-btn2{
    background-color: #388211;
    color: white;
    border: 0;
    width: 160px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn2:hover{
    color: white;
}
/* =========================== */
.banner-item3{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    padding: 100px 0 100px 0;
    transition: all .2s ease-out;
}
.p-btn-wrap3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}
.p-btn-wrap3 h3{
    color: #ec6400;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
.p-btn-wrap3 p{
    color: #ec6400;
    font-size: 18px;
    margin-bottom: 40px;
}
.cart-btn3{
    background-color: #d35900;
    color: white;
    border: 0;
    width: 160px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn3:hover{
    color: white;
}
/* =========================== */
.banner-item4{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    padding: 100px 0 100px 0;
    transition: all .2s ease-out;
}
.p-btn-wrap4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-out;
}
.p-btn-wrap4 h3{
    color: #c08846;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}
.p-btn-wrap4 p{
    color: #c08846;
    font-size: 18px;
    margin-bottom: 40px;
}
.cart-btn4{
    background-color: #e07904;
    color: white;
    border: 0;
    width: 160px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn4:hover{
    color: white;
}
.btn-wrap{
    transform: translate(-50% , -50%);
    position: absolute;
    top: 90%;
    left: 50%;
}
.bnr-1{
    background: #90B74A;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    margin: 0 .5rem 0 .5rem;
}
.bnr-2, .bnr-3, .bnr-4{
    background: #ccc;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    margin: 0 .5rem 0 .5rem;
}
.bnr-1:hover, .bnr-2:hover, .bnr-3:hover, .bnr-4:hover{
    background: #90B74A;
}
.bnr-1:focus, .bnr-2:focus, .bnr-3:focus, .bnr-4:focus{
    background: #90B74A;
}
.side-btn-wrap{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
}
.side{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.left , .right{
    font-size: 20px;
    border: 1px solid white;
    /* padding: 5px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    color: white;
    opacity: 50%;
}