@charset "urf-8";

*{
    padding: 0;
    margin: 0
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

.f1 {
    font-family: 'Iropke-Batang', serif;
    
}
.f2 {
    font-family: 'Noto Sans KR', sans-serif;
}
.d-none{
    display: none;
}
header {
    width: 100%;
    
    border-bottom: 1px solid #90B74A;
    
    
}
.gnb-wrap{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.logo{
    padding: 10px 0;
    
}
.logo img{
  height: 103%;
}

.sns-icon{
    display: flex;
    justify-content: flex-end;
}
.sns-icon a{
    display: block;
    background-color: #ccc;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns-icon li:nth-child(1) a:hover{
    background-color: #90B74A;
}
.sns-icon li:nth-child(2) a:hover{
    background-color:  #1877f2;
}
.sns-icon li:nth-child(3) a:hover{
    background-color: #cb0062;
}
.sns-icon li:nth-child(4) a:hover{
    background-color: #ff0800;
}
.sns-icon li:nth-child(5) a:hover{
    background-color: #b61c21;
}

.gnb-menu{
    width: 800px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.gnb-menu a{
    display: block;
    /* padding: 10px 0 10px 0; */
}
.gnb-menu a:hover{
    color: #90B74A;
   
}
.footer-wrap{
    background-color: #30332E;
}
footer{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.footer-logo a {
    display: block;
    
}
.logo-copy-wrap{
    display: flex;
}
.footer-menu {
    display: flex;
    width: 370px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
} 

.copy address, .copy p {
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    margin:10px 0;
}